@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-color: #f436aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --base-color: #f436aa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  font-family: "Google Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Google Sans", sans-serif;
}

button {
  @apply transition-all duration-300 cursor-pointer;
}
